* {
    margin: 0;
    padding: 0;
    border: 0;
}

.image {
    width: 100vw;
    height: 85vh;
}

.carousel-item {
    background-color: black;
    width: 100vw;
}

.titles {
    position: absolute;
    z-index: 1;
    margin: 3vh auto;
    width: 105vw;
    text-align: center;
}

.sub-titles-elements {
    text-decoration: none;
    color: black;
    margin: 55px;
    font-size: 18px;
    font-weight: 500;
}

#main-title {
    margin: 25px auto;
}

main {
    background-color: #F2E3DB;
    height: 200vh;
}

#search-bar {
    width: 30vw;
    height: 6vh;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    margin: 15px 250px;
}

.centre-container {
    width: 75vw;
    margin: auto;
}

.carousel-title {
    font-size: 25px;
    margin: 2vw 5vw;
}

.doctors-suggestion {
    background-color: #F0EFE7;
    width: 65vw;
    margin: 25px auto;
    height: 35vh;
    border-radius: 25px;
}

hr {
    width: 75vw;
}

.section {
    background-color: #F8F8FF;
}

.sub-titles-elements:hover {
    padding: 10px;
    border-radius: 12px;
    background-color: black;
    color: white;
    transform: scale(2.1);
}